Repository deegree/deegree3, pull requests merged in 2022-05, with the labels that each got.

#1304 Upgrades log4j2 to v2.17.2 and slf4j to 1.7.36
  pom.xml
Labels: enhancement, dependencies

#1308 Remove duplicate JCL dependency
  pom.xml
Labels: dependencies

#1311 Upgrades reflections to v0.9.12
  pom.xml
Labels: dependencies

#1302 Upgrades asciidoc plugin and pdf producer
  deegree-services/deegree-webservices-handbook/pom.xml
  pom.xml
Labels: enhancement, documentation, dependencies

#1279 Enhance GmlTool to reduce generated mapping
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapper.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/GmlReferenceData.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/ReferenceData.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapperTest.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/mapper/GmlReferenceDataTest.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/resources/org/deegree/feature/persistence/sql/mapper/schemaWithNilValues.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/cli-utility.adoc
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/FeatureStoreConfigWriter.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/LoadParameter.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/LoadParameterBuilder.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/SqlFeatureStoreConfigCreatorConfiguration.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/SqlFeatureStoreConfigCreatorUsagePrinter.java
Labels: enhancement, tools

#1278 Enhance GmlTool to write mapping for GML Time properties
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/config/SQLFeatureStoreConfigWriter.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapper.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapperTest.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/resources/org/deegree/feature/persistence/sql/mapper/schemaWithTimeProperties.xsd
Labels: enhancement, tools

#1332 Disabling concurrent builds
  Jenkinsfile
Labels: CI and build

#1192 Fix rendering of geometries in deegree
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/utils/Tunable.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/Java2DStrokeRenderer.java
Labels: bug, WMS

#1200 Enable configurable background color of GetLegengGraphic response
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/GetLegendHandler.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/MapService.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/WMSController.java
  deegree-services/deegree-services-wms/src/main/resources/META-INF/schemas/services/wms/3.4.0/wms_configuration.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, WMS, schema change

#1201 Fix bug occuring when configuring envelope in theme or layer
  deegree-core/deegree-core-geometry/src/main/resources/META-INF/schemas/commons/spatialmetadata/3.4.0/spatialmetadata.xsd
  deegree-core/deegree-core-geometry/src/test/java/org/deegree/geometry/metadata/SpatialMetadataConverterTest.java
  deegree-core/deegree-core-geometry/src/test/resources/org/deegree/geometry/metadata/envelope.xml
Labels: bug, ready, WMS, schema change

#1231 Enhance WMS configuration to control the visibily of a layer
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/MapService.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/visibility/LayerVisibilityInspector.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/visibility/RequestedLayerVisibilityInspector.java
  deegree-services/deegree-services-wms/src/main/resources/META-INF/schemas/services/wms/3.4.0/wms_configuration.xsd
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/visibility/LayerVisibilityInspectorTestImpl.java
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/visibility/RequestedLayerVisibilityInspectorTest.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, needs rebase, WMS, schema change

#1238 Implement ExtendedDescription for WFS 2.0
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/ows/metadata/DatasetMetadata.java
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/ows/metadata/ExtendedDescription.java
  deegree-services/deegree-services-commons/src/main/java/org/deegree/services/metadata/provider/DefaultOwsMetadataProviderBuilder.java
  deegree-services/deegree-services-commons/src/main/resources/META-INF/schemas/services/metadata/3.4.0/metadata.xsd
  deegree-services/deegree-services-commons/src/test/java/org/deegree/services/metadata/provider/DefaultOWSMetadataProviderTest.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/GetCapabilitiesHandler.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/WebFeatureService.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/capabilities/theme/DatasetMetadataFactory.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/capabilities/theme/DatasetMetadataMerger.java
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/controller/capabilities/theme/DatasetMetadataMergerTest.java
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/controller/capabilities/theme/WmsCapabilities111ThemeWriterTest.java
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/controller/capabilities/theme/WmsCapabilities130ThemeWriterTest.java
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/controller/capabilities/theme/XMLAssert.java
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms111_layer_full.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms111_layer_minimal.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms111_layer_multipleMetadataUrls.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms130_layer_full.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms130_layer_minimal.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms130_layer_multipleMetadataUrls.xml
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, schema change

#1285 Allow to specify custom dialect provider on a data source level
  deegree-core/deegree-connectionprovider-datasource/src/main/java/org/deegree/db/datasource/DataSourceConnectionProviderBuilder.java
  deegree-core/deegree-connectionprovider-datasource/src/main/resources/META-INF/schemas/connectionprovider/datasource/3.4.0/datasource.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/serverconnections.adoc
Labels: enhancement, ready, schema change

#1333 Enforce lowest Maven version for build and clean up Maven build
  deegree-core/deegree-core-commons/pom.xml
  deegree-core/deegree-core-feature/pom.xml
  deegree-core/deegree-core-filter/pom.xml
  deegree-core/pom.xml
  deegree-tools/pom.xml
  pom.xml
Labels: enhancement, CI and build

#661 Enhances WMS to throw an exception if the requested CRS is not configured
  deegree-core/deegree-core-protocol/deegree-protocol-wms/src/main/java/org/deegree/protocol/wms/ops/GetFeatureInfo.java
  deegree-core/deegree-core-protocol/deegree-protocol-wms/src/main/java/org/deegree/protocol/wms/ops/GetMap.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/MapService.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/WMSController.java
  deegree-services/deegree-services-wms/src/main/resources/META-INF/schemas/services/wms/3.4.0/wms_configuration.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, WMS, schema change

#700 Enhanced WMS by a copyright in GetMap responses
  deegree-core/deegree-core-layer/src/main/java/org/deegree/layer/config/ConfigUtils.java
  deegree-core/deegree-core-layer/src/main/java/org/deegree/layer/metadata/LayerMetadata.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/Copyright.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/context/Java2DRenderContext.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/context/LazyImageRenderContext.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/context/MapOptions.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/context/MapOptionsMaps.java
  deegree-core/deegree-core-rendering-2d/src/main/java/org/deegree/rendering/r2d/context/RenderContext.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/MapService.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/MapServiceBuilder.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/WMSController.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/capabilities/theme/LayerMetadataMerger.java
  deegree-services/deegree-services-wms/src/main/resources/META-INF/schemas/services/wms/3.4.0/wms_configuration.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, WMS, schema change

#726 Enhanced RemoteWMSLayers configuration by ScaleDenominators
  deegree-layers/deegree-layers-remotewms/src/main/java/org/deegree/layer/persistence/remotewms/RemoteWmsLayerBuilder.java
  deegree-layers/deegree-layers-remotewms/src/main/resources/META-INF/schemas/layers/remotewms/3.4.0/remotewms.xsd
Labels: enhancement, ready, WMS, schema change

#779 Enhanced WMS configuration to define a style title
  deegree-core/deegree-core-layer/src/main/java/org/deegree/layer/config/ConfigUtils.java
  deegree-core/deegree-core-layer/src/main/resources/META-INF/schemas/layers/base/3.4.0/base.xsd
  deegree-core/deegree-core-style/src/main/java/org/deegree/style/se/unevaluated/Style.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/capabilities/theme/WmsCapabilities111ThemeWriter.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/capabilities/theme/WmsCapabilities130ThemeWriter.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/layers.adoc
Labels: enhancement, ready, WMS, schema change

#971 Adds configuration option for check of area of use of CRS for WFS-T
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/TransactionHandler.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/WebFeatureService.java
  deegree-services/deegree-services-wfs/src/main/resources/META-INF/schemas/services/wfs/3.4.0/wfs_configuration.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, WFS, schema change

#1003 Add configurable sort order for SQLFeatureStore
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-commons/src/main/java/org/deegree/sqldialect/SQLDialect.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-commons/src/main/java/org/deegree/sqldialect/SortCriterion.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-commons/src/main/java/org/deegree/sqldialect/filter/AbstractWhereBuilder.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-commons/src/main/java/org/deegree/sqldialect/filter/mssql/MSSQLWhereBuilder.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-commons/src/test/java/org/deegree/sqldialect/filter/mssql/MSSQLWhereBuilderTest.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/src/main/java/org/deegree/sqldialect/mssql/MSSQLDialect.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-oracle/src/main/java/org/deegree/sqldialect/oracle/OracleDialect.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-oracle/src/main/java/org/deegree/sqldialect/oracle/OracleWhereBuilder.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-postgis/src/main/java/org/deegree/sqldialect/postgis/PostGISDialect.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-postgis/src/main/java/org/deegree/sqldialect/postgis/PostGISWhereBuilder.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-shape/src/main/java/org/deegree/feature/persistence/shape/H2WhereBuilder.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/FeatureTypeMapping.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/SQLFeatureStore.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/config/AbstractMappedSchemaBuilder.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/config/MappedSchemaBuilderGML.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/config/MappedSchemaBuilderTable.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/config/MappedSchemaBuilderTableOld.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapper.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/resources/META-INF/schemas/datasource/feature/sql/3.4.0/example_complex.xml
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/resources/META-INF/schemas/datasource/feature/sql/3.4.0/sql.xsd
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/id/IdAnalyzerTest.java
  deegree-datastores/deegree-mdstores/deegree-mdstore-ebrim-eo/src/main/java/org/deegree/metadata/persistence/ebrim/eo/EbrimEOMDStore.java
  deegree-datastores/deegree-mdstores/deegree-mdstore-ebrim-eo/src/main/java/org/deegree/metadata/persistence/ebrim/eo/EbrimEOMDStoreTransaction.java
  deegree-datastores/deegree-mdstores/deegree-mdstore-iso/src/main/java/org/deegree/metadata/iso/persistence/ISOMetadataStoreTransaction.java
  deegree-datastores/deegree-mdstores/deegree-mdstore-iso/src/main/java/org/deegree/metadata/iso/persistence/sql/DefaultQueryService.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/featurestores.adoc
Labels: enhancement, ready, WFS, schema change

#1005 Enable configuration of multiple schema locations
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/format/gml/GmlFormat.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/format/gml/GmlFormatOptions.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/format/gml/request/GmlDescribeFeatureTypeHandler.java
  deegree-services/deegree-services-wfs/src/main/resources/META-INF/schemas/services/wfs/3.4.0/wfs_configuration.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: enhancement, ready, WFS, schema change

#1039 Instantiate GenericObjectPool of GeoTIFFTileStore with configuration option maxActive
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTIFFTileDataLevel.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTiffTileDataSetBuilder.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/resources/META-INF/schemas/datasource/tile/geotiff/3.4.0/geotiff.xsd
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/tilestores.adoc
Labels: enhancement, ready, WMS, WMTS, schema change

#1042 Introduce CSV as output format for WFS
  deegree-services/deegree-services-wfs/pom.xml
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/WebFeatureService.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/format/csv/CsvFeatureWriter.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/format/csv/CsvFormat.java
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/format/csv/request/CsvGetFeatureHandler.java
  deegree-services/deegree-services-wfs/src/main/resources/META-INF/schemas/services/wfs/3.4.0/wfs_configuration.xsd
  deegree-services/deegree-services-wfs/src/test/java/org/deegree/services/wfs/format/csv/CsvFeatureWriterTest.java
  deegree-services/deegree-services-wfs/src/test/resources/org/deegree/services/wfs/format/csv/CadastralZoning.gml
  deegree-services/deegree-services-wfs/src/test/resources/org/deegree/services/wfs/format/csv/PhilosopherForCsv.gml
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
  pom.xml
Labels: enhancement, ready, WFS, schema change

#1055 Skip GML reference resolving for WFS-T
  deegree-services/deegree-services-wfs/src/main/java/org/deegree/services/wfs/ReferenceResolvingMode.java
Labels: enhancement, ready, WFS, schema change

#1129 Update schema handling and prepare migration
  uncoupled/deegree-jaxb-resolver/pom.xml
  uncoupled/deegree-jaxb-resolver/src/main/java/org/deegree/uncoupled/jaxb/CatalogResolver.java
  uncoupled/deegree-jaxb-util/pom.xml
  uncoupled/deegree-jaxb-util/src/main/java/org/deegree/uncoupled/jaxbutil/AbstractScanner.java
  uncoupled/deegree-jaxb-util/src/main/java/org/deegree/uncoupled/jaxbutil/MetaInfSchemasMigration.java
  uncoupled/deegree-jaxb-util/src/main/java/org/deegree/uncoupled/jaxbutil/UpdateSchema.java
Labels: enhancement, in progress

#1154 Support of Java11
  Jenkinsfile
  checkstyle.xml
  deegree-client/deegree-wps-webclient/pom.xml
  deegree-core/deegree-core-commons/pom.xml
  deegree-core/deegree-core-featureinfo/src/main/antlr3/org/deegree/featureinfo/templating/Templating2Parser.g
  deegree-core/deegree-core-featureinfo/src/main/antlr3/org/deegree/featureinfo/templating/output/Templating2Lexer.java
  deegree-core/deegree-core-featureinfo/src/main/antlr3/org/deegree/featureinfo/templating/output/Templating2Lexer.tokens
  deegree-core/deegree-core-geometry/src/test/java/org/deegree/geometry/linearization/CurveLinearizerTest.java
  deegree-core/deegree-core-layer/pom.xml
  deegree-core/deegree-core-style/pom.xml
  deegree-datastores/deegree-featurestores/deegree-featurestore-memory/src/main/java/org/deegree/feature/persistence/memory/StoredFeatures.java
  deegree-services/deegree-services-commons/pom.xml
  deegree-services/deegree-services-commons/src/test/java/org/deegree/services/controller/OGCFrontControllerTest.java
  deegree-services/deegree-services-wms/pom.xml
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/controller/capabilities/theme/WmsCapabilities111ThemeWriterTest.java
  deegree-services/deegree-services-wms/src/test/java/org/deegree/services/wms/controller/capabilities/theme/WmsCapabilities130ThemeWriterTest.java
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms111_layer_full.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms111_layer_multipleMetadataUrls.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms130_layer_full.xml
  deegree-services/deegree-services-wms/src/test/resources/org/deegree/services/wms/controller/capabilities/theme/wms130_layer_multipleMetadataUrls.xml
  deegree-services/deegree-webservices-handbook/pom.xml
  deegree-services/deegree-webservices-tomcat-bundle/pom.xml
  deegree-services/deegree-webservices/pom.xml
  deegree-tests/deegree-compliance-tests/pom.xml
  deegree-tests/pom.xml
  deegree-tools/deegree-tools-3d/pom.xml
  deegree-tools/deegree-tools-base/pom.xml
  deegree-tools/deegree-tools-gml/pom.xml
  pom.xml
  uncoupled/deegree-spring/pom.xml
Labels: enhancement, needs rebase, CI failing, dependencies

#1337 Upgrade to Apache Commons DBCP 2 (and Commons Pool 2)
  deegree-core/deegree-connectionprovider-datasource/src/main/java/org/deegree/db/datasource/DataSourceConnectionProvider.java
  deegree-core/deegree-connectionprovider-datasource/src/main/resources/META-INF/schemas/connectionprovider/datasource/example_dbcp_mssql.xml
  deegree-core/deegree-connectionprovider-datasource/src/main/resources/META-INF/schemas/connectionprovider/datasource/example_dbcp_oracle.xml
  deegree-core/deegree-connectionprovider-datasource/src/main/resources/META-INF/schemas/connectionprovider/datasource/example_dbcp_postgres.xml
  deegree-core/deegree-core-commons/pom.xml
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/jdbc/ConnectionPool.java
  deegree-core/deegree-core-db/src/main/java/org/deegree/db/legacy/LegacyConnectionProvider.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTIFFTile.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTIFFTileDataLevel.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/ImageReaderFactory.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/serverconnections.adoc
  pom.xml
Labels: enhancement, dependencies

#1265 Update GDAL dependency to v3.0.0
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/gdal.adoc
  pom.xml
Labels: enhancement, dependencies

#1287 Fix geometry conversion for simple point geometries on oracle databases
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/utils/TunableParameter.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-oracle/src/main/java/org/deegree/sqldialect/oracle/sdo/OracleObjectTools.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/appendix.adoc
Labels: bug, needs discussion

#1338 Remove unused references from handbook and build fixes
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/utils/TunableParameter.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTIFFTile.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTIFFTileDataLevel.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTiffTileDataSetBuilder.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/GeoTiffUtils.java
  deegree-datastores/deegree-tilestores/deegree-tilestore-geotiff/src/main/java/org/deegree/tile/persistence/geotiff/ImageReaderFactory.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/basics.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/coveragestores.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/featurestores.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/gdal.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/layers.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/metadatastores.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/processproviders.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/serverconnections.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/themes.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/tilestores.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
  deegree-tests/pom.xml
  pom.xml
Labels: documentation, dependencies, CI and build

#1339 Create schema assembly as single zip artifact
  deegree-workspaces/deegree-workspace-aixm/pom.xml
  deegree-workspaces/deegree-workspace-compliance-tests/pom.xml
  deegree-workspaces/deegree-workspace-csw-memory-tests/pom.xml
  deegree-workspaces/deegree-workspace-csw/pom.xml
  deegree-workspaces/deegree-workspace-geosciml/pom.xml
  deegree-workspaces/deegree-workspace-utah/pom.xml
  deegree-workspaces/deegree-workspace-wcts/pom.xml
  deegree-workspaces/deegree-workspace-wps/pom.xml
  deegree-workspaces/pom.xml
  pom.xml
  src/main/assembly/schemas.xml
Labels: enhancement

#1340 Update jaxb resolver to version 1.1
  pom.xml
  uncoupled/deegree-jaxb-resolver/pom.xml
  uncoupled/deegree-jaxb-resolver/src/main/java/org/deegree/uncoupled/jaxb/CatalogResolver.java
Labels: enhancement, easy, blocks release, CI and build

#1341 Revert failed release of jaxb-resolver
  uncoupled/deegree-jaxb-resolver/pom.xml
Labels: bug, CI and build
