Repository deegree/deegree3, pull requests merged in 2023-07, with the labels that each got.

#1535 Fix schema validation of console
  deegree-services/deegree-webservices/src/main/java/org/deegree/console/generic/XmlEditorBean.java
Labels: bug, console

#1534 Fix transitive dependency to jai_core to use jai-core instead
  pom.xml
Labels: dependencies, CI and build

#1524 Remove the option to import the deegree-workspace-inspire from the official workspaces in the console
  deegree-services/deegree-webservices/src/main/java/org/deegree/console/workspace/WorkspaceBean.java
Labels: bug, console

#1528 Enhanced pipeline to publish artifacts on jenkins
  Jenkinsfile
Labels: enhancement, CI and build
