Repository deegree/deegree3, pull requests merged in 2023-02, with the labels that each got.

#1463 Fixed skipReferenceCheck=true in GmlLoader
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/loader/GmlLoaderConfiguration.java
Labels: tools

#1469 Fix Spring annotations for GMLLoader
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/loader/GmlLoaderConfiguration.java
Labels: bug, tools

#1445 Refactored deegree-dialect-mssql module and upgraded JDBC driver for SQL Server
  deegree-core/deegree-core-geometry/pom.xml
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/pom.xml
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/src/main/java/org/deegree/sqldialect/mssql/MSSQLDialect.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/src/main/java/org/deegree/sqldialect/mssql/MSSQLDialectProvider.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/src/main/java/org/deegree/sqldialect/mssql/MSSQLGeometryConverter.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/src/main/java/org/deegree/sqldialect/mssql/MSSQLWhereBuilder.java
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-mssql/src/test/java/org/deegree/sqldialect/mssql/MSSQLWhereBuilderTest.java
  pom.xml
Labels: enhancement, dependencies, modules
