Repository deegree/deegree3, pull requests merged in 2024-05, with the labels that each got.

#1678 Enhanced SqlFeatureStoreConfigCreator to support new parameter dbschema (3.5)
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/ddl/DDLCreator.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/ddl/PostGISDDLCreator.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapper.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapperTest.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/FeatureStoreConfigWriter.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/LoadParameter.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/LoadParameterBuilder.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/SqlFeatureStoreConfigCreatorConfiguration.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/SqlFeatureStoreConfigCreatorUsagePrinter.java
Labels: enhancement, tools

#1679 Enhanced SqlFeatureStoreConfigCreator to support new parameter dbschema (3.6)
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/ddl/DDLCreator.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/ddl/PostGISDDLCreator.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapper.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapperTest.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/FeatureStoreConfigWriter.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/LoadParameter.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/LoadParameterBuilder.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/SqlFeatureStoreConfigCreatorConfiguration.java
  deegree-tools/deegree-tools-gml/src/main/java/org/deegree/tools/featurestoresql/config/SqlFeatureStoreConfigCreatorUsagePrinter.java
Labels: enhancement, tools

#1688 Upgrade oracle driver to 23
  deegree-core/deegree-core-sqldialect/deegree-sqldialect-oracle/pom.xml
  deegree-datastores/deegree-coveragestores/deegree-coveragestore-oracle-georaster/pom.xml
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/javamodules.adoc
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/serverconnections.adoc
  deegree-services/deegree-webservices/pom.xml
  pom.xml
Labels: enhancement, ready, dependencies

#1686 Add maven wrapper
  .github/workflows/maven.yml
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: enhancement, CI and build

#1685 Enable FEATURE_SECURE_PROCESSING
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/xml/XsltUtils.java
Labels: enhancement, core
