Repository deegree/deegree3, pull requests merged in 2024-02, with the labels that each got.

#1622 Add GeoJSON as GetFeatureInfoFormat (deegree 3.5)
  deegree-core/deegree-core-base/src/main/java/org/deegree/geojson/GeoJsonWriter.java
  deegree-core/deegree-core-base/src/test/java/org/deegree/geojson/GeoJsonFeatureWriterTest.java
  deegree-core/deegree-core-featureinfo/src/main/java/org/deegree/featureinfo/FeatureInfoContext.java
  deegree-core/deegree-core-featureinfo/src/main/java/org/deegree/featureinfo/FeatureInfoManager.java
  deegree-core/deegree-core-featureinfo/src/main/java/org/deegree/featureinfo/FeatureInfoParams.java
  deegree-core/deegree-core-featureinfo/src/main/java/org/deegree/featureinfo/serializing/GeoJsonFeatureInfoSerializer.java
  deegree-core/deegree-core-featureinfo/src/test/java/org/deegree/featureinfo/serializing/GeoJsonFeatureInfoSerializerTest.java
  deegree-core/deegree-core-featureinfo/src/test/java/org/deegree/featureinfo/serializing/TemplateFeatureInfoSerializerTest.java
  deegree-core/deegree-core-featureinfo/src/test/resources/org/deegree/featureinfo/serializing/featurecollection.gml
  deegree-core/deegree-core-protocol/deegree-protocol-wms/src/main/java/org/deegree/protocol/wms/ops/GetFeatureInfo.java
  deegree-services/deegree-services-commons/src/main/java/org/deegree/services/controller/utils/StandardFeatureInfoContext.java
  deegree-services/deegree-services-wms/src/main/java/org/deegree/services/wms/controller/WMSController.java
  deegree-services/deegree-services-wms/src/main/resources/META-INF/schemas/services/wms/wms_configuration.xsd
  deegree-services/deegree-services-wmts/src/main/java/org/deegree/services/wmts/controller/FeatureInfoFetcher.java
  deegree-services/deegree-webservices-handbook/src/main/asciidoc/webservices.adoc
Labels: feature, WMS

#1631 Re-enable logging when running tests in maven build
  pom.xml
Labels: enhancement, TMC discussion, CI and build

#1645 Fixed web.xml and faces-config.xml deployment descriptor
  deegree-client/deegree-jsf-core/pom.xml
  deegree-client/deegree-jsf-core/src/main/resources/META-INF/deegree.taglib.xml
  deegree-client/deegree-jsf-core/src/main/resources/META-INF/faces-config.xml
  deegree-services/deegree-webservices/src/main/webapp/WEB-INF/faces-config.xml
  deegree-services/deegree-webservices/src/main/webapp/WEB-INF/web.xml
  deegree-services/deegree-webservices/src/main/webapp/index.xhtml
  deegree-services/deegree-webservices/src/main/webapp/layout.xhtml
  pom.xml
Labels: console, core
