Repository deegree/deegree3, pull requests merged in 2025-04, with the labels that each got.

#1795 Fixed error when resolving CityGML schema and its parts (3.6)
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/xml/schema/RedirectingEntityResolver.java
Labels: bug, CI and build, core

#1797 Fixed error when resolving CityGML schema and its parts (3.5)
  deegree-core/deegree-core-commons/src/main/java/org/deegree/commons/xml/schema/RedirectingEntityResolver.java
Labels: bug, CI and build, core

#1798 Split pipeline step for release prepare and release perform (3.6)
  Jenkinsfile
Labels: CI and build

#1794 Split pipeline step for release prepare and release perform (3.5)
  Jenkinsfile
Labels: CI and build

#1776 Fixed ghaction to use java version 17 for main branch
  .github/workflows/maven.yml
Labels: CI and build

#1783 Change logging framework to Logback and provide autoconfiguration
  deegree-core/deegree-core-logging-autoconfigure/pom.xml
  deegree-core/deegree-core-logging-autoconfigure/src/main/java/org/deegree/logging/autoconfiguration/CoreLoggingAutoconfigurationModuleInfoProvider.java
  deegree-core/deegree-core-logging-autoconfigure/src/main/java/org/deegree/logging/autoconfiguration/DeegreeLogbackConfigurator.java
  deegree-core/deegree-core-logging-autoconfigure/src/main/java/org/deegree/logging/autoconfiguration/EarlyLogbackSystemPropertySetter.java
  deegree-core/deegree-core-logging-autoconfigure/src/main/java/org/deegree/logging/autoconfiguration/StreamUtils.java
  deegree-core/deegree-core-logging-autoconfigure/src/main/resources/META-INF/services/ch.qos.logback.classic.spi.Configurator
  deegree-core/deegree-core-logging-autoconfigure/src/main/resources/META-INF/services/org.deegree.moduleinfo.ModuleInfoProvider
  deegree-core/deegree-core-test-logging/pom.xml
  deegree-core/deegree-core-test-logging/src/main/resources/deegree-logging-defaults.properties
  deegree-core/deegree-core-test-logging/src/main/resources/log4j2.properties
  deegree-core/pom.xml
  deegree-documentation/src/main/asciidoc/logging.adoc
  deegree-services/deegree-webservices/pom.xml
  deegree-services/deegree-webservices/src/main/resources/log4j2.properties
  deegree-tools/deegree-tools-3d/pom.xml
  deegree-tools/deegree-tools-3d/src/main/config/log4j2.properties
  deegree-tools/deegree-tools-base/pom.xml
  deegree-tools/deegree-tools-base/src/main/config/log4j2.properties
  deegree-tools/deegree-tools-gml/pom.xml
  deegree-tools/deegree-tools-gml/src/test/resources/logback-test.xml
  pom.xml
Labels: enhancement, TMC discussion, dependencies, breaking, core

#1801 Upgraded spotbugs-maven-plugin to 4.9.3.0
  pom.xml
Labels: CI and build

#1802 Fixed version for spotbugs maven plugin in Jenkins pipeline
  Jenkinsfile
Labels: CI and build

#1726 Enhance SqlFeatureStoreConfigCreator to apply useRefDataProps to complex xml elements (3.5)
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/main/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapper.java
  deegree-datastores/deegree-featurestores/deegree-featurestore-sql/src/test/java/org/deegree/feature/persistence/sql/mapper/AppSchemaMapperTest.java
Labels: enhancement, tools

#1805 Added http notation to EPSG:5554,5555,5556 (3.6)
  deegree-core/deegree-core-cs/src/main/resources/org/deegree/cs/persistence/deegree/d3/config/crs-definitions.xml
Labels: crs

#1806 Added http notation to EPSG:5554,5555,5556 (3.5)
  deegree-core/deegree-core-cs/src/main/resources/org/deegree/cs/persistence/deegree/d3/config/crs-definitions.xml
Labels: crs

#1758 Fix recognization of deprecated FeatureCollections in deegree (3.6)
  deegree-core/deegree-core-base/src/main/java/org/deegree/gml/schema/GMLSchemaInfoSet.java
  deegree-core/deegree-core-base/src/test/java/org/deegree/gml/feature/GMLFeatureReaderTest.java
  deegree-core/deegree-core-base/src/test/java/org/deegree/gml/schema/GMLAppSchemaReaderTest.java
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/2.0_observation.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/Addresses.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/AdministrativeUnits.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/BaseTypes.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/BaseTypes2.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/BuildingsBase.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/CadastralParcels.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/CommonTransportElements.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/GeographicalNames.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/GeophysicsCore.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/Network.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/ShapeChangeAppinfo.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/samplingFeature.xsd
  deegree-core/deegree-core-base/src/test/resources/org/deegree/gml/inspire/schema/geophysicsCore/spatialSamplingFeature.xsd
  deegree-documentation/src/main/asciidoc/appendix.adoc
Labels: tools, breaking, core
